# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# assets
# (All assets now tracked for Vercel deployment)
/public/nothing_to_ignore_here

# misc
.DS_Store
*.pem
*.tsbuildinfo
.git_corrupted
