- [ ] Location doesn't stay persistent across pages
- [ ] When you click on an event in the explore page it takes you to a hardcoded event page irrespective of the event selected
- [ ] Change the database to take events from the "Add Event" pop up

### Add Event drop-down menu

- [ ] Change the names of fields
- [ ] Change categories to sync with event sheet
- [ ] keep only images 
- [ ] remove identification aadhar
- [ ] **change layout**
- [ ] remove "Milo Origin" from top left

### Notification

- [ ] change the container text
- [ ] show location set pop up to new user

### Profile Page

- [ ] Settings ->  Save changes doesn't work
- [ ] No scroll bar in control room
- [ ] change name of settings panel from control room to settings
